@import 'tailwindcss';
@theme {
  --color-body: #121212;
  --color-light: #282828;
  --color-mobile-light: #3f3f3f;
  --color-modal-overlay: rgba(98, 98, 98, 0.88);
  --color-input: #eeeeee;
  --color-button: #4147d5;
}
@layer components {
  .margin-0-auto {
    margin: 0 auto;
  }
}
body {
  background-color: var(--color-body);
  overflow: hidden;
}

footer > div > button {
  @apply flex-col flex justify-center items-center   md:gap-2;
}
footer > div > button > p {
  @apply text-center text-white/40;
}
video {
  @apply aspect-video;
  object-fit: cover;
}
.peer-video-off-label {
  @apply text-white w-screen md:w-auto py-24 md:p-12 md:aspect-video capitalize text-center md:bg-light bg-mobile-light text-xl md:text-3xl;
}
figure {
  @apply md:h-[150px];

  aspect-ratio: 16/9;
}
#peer-video-feeds {
  scrollbar-width: none;
  :-webkit-scrollbar {
    display: none;
  }
}
.fig-caption {
  @apply text-white absolute text-left bg-modal-overlay bottom-0 w-full pl-5 pr-10 capitalize;
}

/* figure > video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; 
} */
/* .icon {
  @apply w-6 h-6 md:w-auto md:h-auto;
} */
#spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
